body {
        padding-bottom: 40px;
        background-color: #fff;
      }
	  
#imgFundo{
	background-image:url(../images/background.jpg);
	width:auto;
	height:auto;
}
. frente{
	z-index:100000;
}
	  
.alerta{display:none;}
.imgLoad{
	display:none;
	}

.form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
}

.titulo_crm{
	color:fff;
	width:40px;
	margin-top:40px;
}

#jumbotron-fundo1{
	background-color:93D4E4;
}
